- content_for :head do
    = stylesheet_link_tag "sh/shCore.css"
    = stylesheet_link_tag "sh/shThemeRDark.css"
- content_for :foot do
    = javascript_include_tag "sh/shCore.js"
    = javascript_include_tag "sh/shBrushRuby.js"
    = javascript_include_tag "shInit.js"