.post_post
    .post_date
        .month= post.created_at.strftime("%b").upcase
        .day= post.created_at.strftime("%e")
        .year= post.created_at.strftime("%Y")
    .post_body
        .post_author= "posted by " + post.name
        %h2.post_title= post.title
        .post_content= post.content