.post_post
    .post_date
        .month= post.created_at.strftime("%b").upcase
        .day= post.created_at.strftime("%e")
        .year= post.created_at.strftime("%Y")
    .post_body
        .post_author= "by " + post.author
        %h2.post_title
            = link_to_post post.title, post
        .post_content
            :markdown
                #{post.content.split(/\r?\n/).first}
        .read_more= link_to_post "Read more", post