.post_post
    .post_date
        .month= @post.created_at.strftime("%b").upcase
        .day= @post.created_at.strftime("%e")
        .year= @post.created_at.strftime("%Y")
    .post_body
        .post_author= "by " + @post.author
        %h1.post_title= @post.title
        .post_content
            :markdown
                #{@post.content}
                
!= disqus_thread_id(ENV['RAILS_ENV'] + @post.id.to_s)
